header{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.service{
   margin: 10px;
   padding: 10px;
}
.service >h1{
     text-align: center;
}

